[program:uwsgi]
autostart=true
user=www
directory=%(here)s
command=%(here)s/.venv/bin/uwsgi --ini uwsgi.ini
autorestart=true
stopsignal=INT
# get the FLASK_SECRET_KEY by doing:
# python -c 'import secrets; print(secrets.token_hex())'
### Google Sheets stuff
# SPREADSHEET_ID comes from the URL
# RANGE_NAME is the sheet location to put stuff
environment=OMDBAPI="deadbeef",TMDBAPI="deadbeefcafedeadbeefcafe",FLASK_SECRET_KEY="deadbeefcafedeadbeefcafe",SPREADSHEET_ID="TESTINFO",RANGE_NAME="Untitled!A2:B"
